*{
    font-style: normal;
    line-height: normal;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #3A299F;
}

a:hover {
    text-decoration: underline;
}

textarea:focus, input:focus{
    outline: none;
}

#main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 2%;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

#logo-container a{
    text-decoration: none;
}

#logo{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 60px;
    align-items: center;
}

nav a{
    color: #FFF;
    text-decoration: none;
    
    opacity: 0.8;
    transition: all 0.7s;
}

nav a:hover{
    opacity: 1.2;
    transform: scale(1.2);
    color:#FA9021;
}

nav button{
    background-color: #FA9021;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;

    opacity: 0.8;
    transition: all 0.7s;
}

nav button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#main-paragraph{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

#main-paragraph p{
    color: #FFF;
    text-decoration: none;
}

#main-paragraph #currently{
    color: #FA9021;
}

#first-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

#first-text p{
    margin-bottom: 25px;
}

#banner{
    margin-top: 40px;
    margin-bottom: 30px;
}

#social-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #FFF;
    justify-content: space-between;
    padding-left: 5%;
    width: 100%;
}

#follow button{
    background: none;
    border: none;
    cursor: pointer;

    transition: all 0.7s;
}

#follow button:hover{
    transform: scale(1.2);
}

#social-container #follow{
    text-decoration: none;
    align-items: center;
    font-size: 16px;
}

#telephone{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#social-container #telephone{
    text-decoration: none;
    align-items: center;
    font-size: 20px;
}

#social-container #location{
    text-decoration: none;
    align-items: center;
    font-size: 20px;
}

.white-line {
    border: 0.7px solid white;
}

#title-hello{
    position: relative;
    z-index: 3;
    margin-top: 5vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50vh;
}

#title-hello #say-hello{
    font-size: 30px;
}

#title-hello p{
    margin: 0;
}

#location{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#location p{
    width: 70%;
}

#location img{
    margin-bottom: 17px;
}

#content-container-3{
    position: relative;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;
    background-color: #1C140F;
    min-height: 110vh;
    max-height: 110vh;
    width: 98.8vw; 
} 

#content-container-3 #vector-3{
    z-index: 2;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0;
}

#img-1-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#img-2-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#content-container-3 #vector-4{
   
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}

#form-container-3{
    position: relative;
    z-index: 4;
    display: flex;
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 10px;
    padding: 0 4%;
    height: 0vh;
    width: 100%;
}


#form-content-3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    gap: 20px;
}

#names-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #4F4F4F;
    font-size: 15px;
    gap: 20px;
}

#first-name-container{
    display: flex;
    flex-direction: column;
}

#first-name-container input{
    height: 6.2vh;
    width:21.4vw ;
    /*height: 40px; 
    width: 294px;*/
    background-color: #4F4F4F;  
    border-radius: 5px;
    border: 0.8px solid #CECECE;
    color: #FFF;
}

#last-name-container{
    display: flex;
    flex-direction: column;
}

#last-name-container input{
    height: 6.2vh;
    width:21.4vw ;
    background-color: #4F4F4F;  
    border-radius: 5px;
    border: 0.8px solid #CECECE;
    color: #FFF;
}


#email-form-3-container{
    display: flex;
    flex-direction: column;
    color: #4F4F4F;
}

#email-form-3-container input{
    height: 6.2vh;
    background-color: #4F4F4F;  
    border-radius: 5px;
    border: 0.8px solid #CECECE;
    width: 44.3vw;
    color: #FFF;
}

#message-container{
    display: flex;
    flex-direction: column;
    color: #4F4F4F;
}


#message-container textarea{
    height: 30vh;
    width: 44.3vw;
    background-color: #4F4F4F;  
    border-radius: 5px;
    border: 0.8px solid #CECECE;
    resize: none;
    color: #FFF;
}


#message-container div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#message-container button{
    background-color: #DC7000;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    color: #FFF;
    cursor: pointer;    
    height: 7vh;
    width: 28%;
    margin-bottom: 15vh;
    margin-top: 3vh;

    transition: all 0.7s;
}

#message-container button:hover{
    opacity: 1.1;
    transform: scale(1.1);
    border-radius: 5px;
}

.error-p{
    visibility: hidden;
    color: #FF6961;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

#error-name{
    color: #FF6961;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

#content-container-6{
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;
    height: 70vh;
    background-color: #34305C;
    justify-content: center;
} 

#form-container-6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: normal;
    background-color: #1C140F;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 4%;
    height: 27vh;
    width: 97%;
}

#form-container-6 #text-form-6{
    font-size: 15px;
    width: 80%;
    margin-right: 10px;
}

#form-container-6 #title-text{
    font-size: 20px;
}

#form-div{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 50wh;
    height: 45px;
    border-radius: 10px;
}

#form-div input{
    height: 35px;
    background-color: white;
    width: 270px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

#form-div button{
    background-color: #DC7000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    margin: 5px 7px 5px;

    transition: all 0.7s;
}

#form-div button:hover{
    opacity: 1.1;
    transform: scale(1.1);
    border-radius: 5px;
}

footer{
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;
    width: 100%;
}

#content-footer{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 35px;
    height: 35vh;
}

#copyright{
    color: #FFF;
    font-size: 13px;
    text-align: center;
    margin-bottom: 7px;
}

#contact-us-footer{
    width: 24%;
}

#logo-footer{
    width: 32%;
}

#horizontal-white-line-footer{
    position: absolute;
    bottom: 55px;
    left:0;
    right: 0;
    height: 1px;
    background-color: #FFF;
}

.social-images{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    margin-top: auto;
    margin-bottom: 40px;
}

#about-us{
    display: flex;
    flex-direction: column;
}

footer a{
    color: #FFF;
    text-decoration: none;
}

footer a:first-of-type{
    margin-top: 15px;
}

footer button{
    background: none;
    border: none;
    cursor: pointer;

    transition: all 0.7s;
}

footer button:hover{
    transform: scale(1.2);
}
