*{
    /*background-color: #3A299F;*/
    font-style: normal;
    line-height: normal;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #3A299F;
}

#main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

#logo-container a{
    text-decoration: none;
}

#logo{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a{
    color: #FFF;
    text-decoration: none;
    
    opacity: 0.8;
    transition: all 0.7s;
}

nav a:hover{
    opacity: 1.2;
    transform: scale(1.2);
    color:#FA9021;
}

nav button{
    background-color: #FA9021;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;

    opacity: 0.8;
    transition: all 0.7s;
}

nav button:hover{
    opacity: 1;
    transform: scale(1.2);
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 2%;
}

#content-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#first-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 0 8%;
}

#title-first-section{
    color: #E87D0E;
    -webkit-text-stroke: #1E1E1E 0.5px;
    font-size: 18px;
    font-weight: bold;
}

#first-section h1{
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
}

#text-first-section{
    color: #FFF;
    font-size: 14px;
}

#first-section button{
    background-image: linear-gradient(to right, #E87D0E, #FA9020, #FB962B, #FB9E3C);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-weight: bold;

    opacity: 0.8;
    transition: all 0.7s;

}

#first-section button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#second-section{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container-see-all{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container-see-all h2{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}

#container-see-all button{
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;

    opacity: 0.8;
    transition: all 0.7s;

}

#container-see-all button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#content-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 8%;
    color: #FFF;
    font-weight: bold;
}


.games-container {
    display: flex;
    gap: 22px;
    margin-top: 20px;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item img {
    border-radius: 10px;
    width: 265px;
    height: 265px;
}

.game-item p {
    margin-top: 10px;
    font-size: 15px;
}

#content-container-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    color: #FFF;
}

#title-container-3{
    font-weight: bold;
    align-items: center;;
}

#title-container-3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-container-3 h2{
    font-size: 20px;
}

#text-container-3 p{
    font-size: 15px;
    font-weight: normal;
    width: 47%;
}

#content-container-4{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    color: #FFF;
}

#content-container-4{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/db4d123c4b390965f684f22d4bf13849\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

#content-after-overlay{
    position: relative;
    z-index: 1;
}

#content-container-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    color: #FFF;
    margin-bottom: 30px;
}

#content-container-5 h1{
    display: flex;
    justify-content: center;
}

#img-container-5{
    display: block;
}

#img-container-5 img{
    margin: 10px;
}

#content-container-5 button{
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;

    opacity: 0.8;
    transition: all 0.7s;
}

#content-container-5 button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#content-container-6{
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;
    height: 70vh;
    margin-top: 30px;
}

#content-container-6 #text-6{
    width: 50%;
}

#form-container-6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: normal;
    background-color: #1C140F;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 8%;
    height: 25vh;
}

#form-container-6 #text-form-6{
    font-size: 15px;
    width: 70%;
}

#form-container-6 #title-text{
    font-size: 20px;
}

.subscribe-form input{
    height: 40px;
    background-color: white;
    width: 315px;
    border: none;
    border-radius: 10px;
}

.subscribe-form button{
    background-color: #DC7000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;

    transition: all 0.7s;
}

.subscribe-form button:hover{
    opacity: 1.1;
    transform: scale(1.1);
    border-radius: 5px;
}

footer{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;

    position: relative;
}

#content-footer{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 35px;
}

#copyright{
    color: #FFF;
    font-size: 13px;
    text-align: center;
}

#contact-us-footer{
    width: 24%;
}

#logo-footer{
    width: 32%;
}

#horizontal-white-line-footer{
    width: 100%;
    height: 1px;
    background-color: #FFF;
}