*{
    font-style: normal;
    line-height: normal;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #3A299F;
}

a:hover {
    text-decoration: underline;
}

textarea:focus, input:focus{
    outline: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    z-index: 1;
    position: relative;
}

#logo-container a{
    text-decoration: none;
}

#logo{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a{
    color: #FFF;
    text-decoration: none;
    
    opacity: 0.8;
    transition: all 0.7s;
}

nav a:hover{
    opacity: 1.2;
    transform: scale(1.2);
    color:#FA9021;
}

nav button{
    background-color: #FA9021;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;

    opacity: 0.8;
    transition: all 0.7s;
}

nav button:hover{
    opacity: 1;
    transform: scale(1.2);
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 2%;
}

#content-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#first-section{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 7%;
    margin-top: 10vh;
}

#title-first-section{
    color: #E87D0E;
    -webkit-text-stroke: #1E1E1E 0.5px;
    font-size: 18px;
    font-weight: bold;
}

#first-section h1{
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    width: 30%;
}

#text-first-section{
    color: #FFF;
    font-size: 14px;
    width: 37%;
    margin-bottom: 5vh;
}

#first-section button{
    background-image: linear-gradient(to right, #E87D0E, #FA9020, #FB962B, #FB9E3C);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-weight: bold;

    opacity: 0.8;
    transition: all 0.7s;

}

#first-section button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#second-section{
    /*position: absolute;*/
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#container-see-all{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container-see-all h2{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}

.see-all-button{
    background-color: #5142AA;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    width: 95px;

    opacity: 0.8;
    transition: all 0.7s;

}

.see-all-button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#content-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 8%;
    color: #FFF;
    font-weight: bold;
    margin-top: 20vh
}


.games-container {
    display: flex;
    gap: 22px;
    margin-top: 20px;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item div{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-top: 5px;
    align-items: center;
}

.game-item div img{
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
}

.game-item img {
    border-radius: 10px;
    width: 265px;
    height: 265px;
}

.game-item p {
    margin-top: 10px;
    font-size: 15px;
}

#content-container-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    color: #FFF;

    margin-top: 10vh;
    margin-bottom: 20vh;
}

#title-container-3{
    font-weight: bold;
    align-items: center;;
}

#title-container-3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-container-3 h2{
    margin-top: 5vh;
    font-size: 20px;
}

#text-container-3 p{
    font-size: 15px;
    font-weight: normal;
    width: 45%;
}

#banner-container{
    margin-top: 5vh;
}

#content-container-4{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/db4d123c4b390965f684f22d4bf13849\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    
    padding: 0 8%;
    color: #FFF;
    flex-direction: column;
    justify-content: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

#content-after-overlay{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    width: 70%;
}

#text-overlay h1{
    width: 80%;
}

#text-overlay p{
    margin-bottom: 20px;
}

.div-circle {
    background-color: white;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.development-links button{
    background: none;
    border: none;
    cursor: pointer;

    transition: all 0.7s;
}

.development-links button:hover{
    transform: scale(1.2);
}

.development-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#development-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap; 
    width: 80%;
}


#content-container-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    color: #FFF;
    margin-bottom: 30px;

    margin-top: 15vh;
}

#content-container-5 h1{
    display: flex;
    justify-content: center;
}

#content-container-5 p{
    width: 90%;
    text-align: center;
    margin-bottom: 8vh;
}

#img-container-5{
    display: block;
}

#img-container-5 img{
    margin: 10px;
}

#content-container-5 button{
    margin-top: 5vh;
    margin-bottom: 2vh;
}

#content-container-6{
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;
    height: 70vh;
    margin-top: 40px;
}

#content-container-6 #text-6{
    width: 50%;
}

#form-container-6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: normal;
    background-color: #1C140F;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 4%;
    height: 27vh;
    width: 97%;
}

#form-container-6 #text-form-6{
    font-size: 15px;
    width: 80%;
    margin-right: 10px;
}

#form-container-6 #title-text{
    font-size: 20px;
}

#form-div{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 50wh;
    height: 45px;
    border-radius: 10px;
}

.subscribe-form input{
    height: 35px;
    background-color: white;
    width: 270px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

.subscribe-form button{
    background-color: #DC7000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    margin: 5px 7px 5px;

    transition: all 0.7s;
}

.subscribe-form button:hover{
    opacity: 1.1;
    transform: scale(1.1);
    border-radius: 5px;
}

footer{
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    color: #FFF;
}

#content-footer{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 35px;
    height: 35vh;
}

#copyright{
    color: #FFF;
    font-size: 13px;
    text-align: center;
    margin-bottom: 7px;
}

#contact-us-footer{
    width: 24%;
}

#logo-footer{
    width: 32%;
}

#horizontal-white-line-footer{
    position: absolute;
    bottom: 55px;
    left:0;
    right: 0;
    height: 1px;
    background-color: #FFF;
}

.social-images{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    margin-top: auto;
    margin-bottom: 40px;
}

#about-us{
    display: flex;
    flex-direction: column;
}

footer a{
    color: #FFF;
    text-decoration: none;
}

footer a:first-of-type{
    margin-top: 15px;
}

footer button{
    background: none;
    border: none;
    cursor: pointer;

    transition: all 0.7s;
}

footer button:hover{
    transform: scale(1.2);
}

